<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,213}</string>
                <key>spriteSourceSize</key>
                <string>{211,213}</string>
                <key>textureRect</key>
                <string>{{0,0},{211,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{0,213},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,108}</string>
                <key>spriteSourceSize</key>
                <string>{114,108}</string>
                <key>textureRect</key>
                <string>{{81,213},{114,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon_trenduoi.png</string>
            <key>size</key>
            <string>{211,321}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:868bb73b7a020b7370693e07bebada3c:7807cfeaacb24f3ee5a00dcd8d20efd5:33926ef1276b6b7c5ef3098beddd972a$</string>
            <key>textureFileName</key>
            <string>icon_trenduoi.png</string>
        </dict>
    </dict>
</plist>
