<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,212}</string>
                <key>spriteSourceSize</key>
                <string>{212,212}</string>
                <key>textureRect</key>
                <string>{{0,0},{212,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,183}</string>
                <key>spriteSourceSize</key>
                <string>{196,183}</string>
                <key>textureRect</key>
                <string>{{212,0},{196,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,184}</string>
                <key>spriteSourceSize</key>
                <string>{133,184}</string>
                <key>textureRect</key>
                <string>{{0,212},{133,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,121}</string>
                <key>spriteSourceSize</key>
                <string>{121,121}</string>
                <key>textureRect</key>
                <string>{{133,212},{121,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,85}</string>
                <key>spriteSourceSize</key>
                <string>{184,85}</string>
                <key>textureRect</key>
                <string>{{254,212},{184,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon_haitac.png</string>
            <key>size</key>
            <string>{438,396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84687cae35f4c303b8fea3fb58d3c87d:1041fab09c19df465b884d89031fffd1:295d4bb325eee2d5563a3f8c8d723ca0$</string>
            <key>textureFileName</key>
            <string>icon_haitac.png</string>
        </dict>
    </dict>
</plist>
