<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{168,174}</string>
                <key>spriteSourceSize</key>
                <string>{188,184}</string>
                <key>textureRect</key>
                <string>{{323,332},{168,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{180,183}</string>
                <key>spriteSourceSize</key>
                <string>{180,189}</string>
                <key>textureRect</key>
                <string>{{512,317},{180,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{134,114}</string>
                <key>spriteSourceSize</key>
                <string>{142,138}</string>
                <key>textureRect</key>
                <string>{{207,344},{134,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{261,341}</string>
                <key>spriteSourceSize</key>
                <string>{265,347}</string>
                <key>textureRect</key>
                <string>{{1,1},{261,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{246,329}</string>
                <key>spriteSourceSize</key>
                <string>{248,335}</string>
                <key>textureRect</key>
                <string>{{264,1},{246,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{245,314}</string>
                <key>spriteSourceSize</key>
                <string>{247,316}</string>
                <key>textureRect</key>
                <string>{{512,1},{245,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{102,140}</string>
                <key>spriteSourceSize</key>
                <string>{114,142}</string>
                <key>textureRect</key>
                <string>{{103,344},{102,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{100,148}</string>
                <key>spriteSourceSize</key>
                <string>{110,150}</string>
                <key>textureRect</key>
                <string>{{1,344},{100,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>longlanHome.png</string>
            <key>size</key>
            <string>{758,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05f148f60cd3a7236180c06f016e91d5:5f83a93b58ad11468942df81f9287582:4260d7e2a46765c62d68dd9e0ff8f4f6$</string>
            <key>textureFileName</key>
            <string>longlanHome.png</string>
        </dict>
    </dict>
</plist>
