<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,112}</string>
                <key>spriteSourceSize</key>
                <string>{92,112}</string>
                <key>textureRect</key>
                <string>{{337,285},{92,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,64}</string>
                <key>spriteSourceSize</key>
                <string>{47,66}</string>
                <key>textureRect</key>
                <string>{{456,79},{47,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{189,334}</string>
                <key>spriteSourceSize</key>
                <string>{197,348}</string>
                <key>textureRect</key>
                <string>{{1,291},{189,334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,53}</string>
                <key>spriteSourceSize</key>
                <string>{86,53}</string>
                <key>textureRect</key>
                <string>{{281,230},{86,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{227,173}</string>
                <key>spriteSourceSize</key>
                <string>{251,193}</string>
                <key>textureRect</key>
                <string>{{281,1},{227,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,288}</string>
                <key>spriteSourceSize</key>
                <string>{278,288}</string>
                <key>textureRect</key>
                <string>{{1,1},{278,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,79}</string>
                <key>spriteSourceSize</key>
                <string>{54,79}</string>
                <key>textureRect</key>
                <string>{{451,285},{54,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,53}</string>
                <key>spriteSourceSize</key>
                <string>{56,53}</string>
                <key>textureRect</key>
                <string>{{433,230},{56,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,51}</string>
                <key>spriteSourceSize</key>
                <string>{62,51}</string>
                <key>textureRect</key>
                <string>{{369,230},{62,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,38}</string>
                <key>spriteSourceSize</key>
                <string>{29,38}</string>
                <key>textureRect</key>
                <string>{{456,145},{29,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,65}</string>
                <key>spriteSourceSize</key>
                <string>{97,65}</string>
                <key>textureRect</key>
                <string>{{420,379},{97,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{81,100}</string>
                <key>spriteSourceSize</key>
                <string>{89,106}</string>
                <key>textureRect</key>
                <string>{{337,379},{81,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,76}</string>
                <key>spriteSourceSize</key>
                <string>{44,76}</string>
                <key>textureRect</key>
                <string>{{456,1},{42,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ngokhongHome.png</string>
            <key>size</key>
            <string>{506,481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9451b48ded566873078f1dbce4bdd902:b6e1d97a9d92de1eb30825c23d9cdf2b:3855f8490be15cbfe01805f5607f53e6$</string>
            <key>textureFileName</key>
            <string>ngokhongHome.png</string>
        </dict>
    </dict>
</plist>
