<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,292}</string>
                <key>spriteSourceSize</key>
                <string>{252,292}</string>
                <key>textureRect</key>
                <string>{{310,1},{250,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{228,173}</string>
                <key>spriteSourceSize</key>
                <string>{248,177}</string>
                <key>textureRect</key>
                <string>{{1,311},{228,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,156}</string>
                <key>spriteSourceSize</key>
                <string>{206,156}</string>
                <key>textureRect</key>
                <string>{{310,295},{206,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,192}</string>
                <key>spriteSourceSize</key>
                <string>{120,192}</string>
                <key>textureRect</key>
                <string>{{468,295},{120,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,39}</string>
                <key>spriteSourceSize</key>
                <string>{32,39}</string>
                <key>textureRect</key>
                <string>{{562,165},{32,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{50,45}</string>
                <key>textureRect</key>
                <string>{{562,64},{50,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,42}</string>
                <key>spriteSourceSize</key>
                <string>{47,42}</string>
                <key>textureRect</key>
                <string>{{562,116},{47,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,181}</string>
                <key>spriteSourceSize</key>
                <string>{72,181}</string>
                <key>textureRect</key>
                <string>{{231,311},{72,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,61}</string>
                <key>spriteSourceSize</key>
                <string>{49,61}</string>
                <key>textureRect</key>
                <string>{{562,1},{49,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{307,308}</string>
                <key>spriteSourceSize</key>
                <string>{337,324}</string>
                <key>textureRect</key>
                <string>{{1,1},{307,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>taiXiu_Home.png</string>
            <key>size</key>
            <string>{612,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b81607c9286d40e8192289c0053e196e:d9de87444589f48541139dfbc0911160:00bd2856b97856fe87eb727067496bfe$</string>
            <key>textureFileName</key>
            <string>taiXiu_Home.png</string>
        </dict>
    </dict>
</plist>
